@page {
    size: A4;
    margin: 0;
}

@media print {
    .notPrint, .navbar-nav {
        display: none;
    }

    .print {
        visibility: visible;
        position: absolute;
        left: 0;
        top: 0;
        /*counter-reset: page;*/
    }
      /*  .print td::after {
            counter-increment: page;
            content: counter(page);
        }*/
}