
.rating__main .rating {
    position: relative;
    width: 260px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .3em;
    padding: 5px;
    overflow: hidden;
    border-radius: 30px;
    box-shadow: 0 0 2px #b3acac;
}

tbody .rating {
    width: 180px;
}

.rating__result {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-10px) translateX(-5px);
    z-index: -9;
    font: 3em Arial, Helvetica, sans-serif;
    color: #ebebeb8e;
    pointer-events: none;
}
.rating__star {
    font-size: 1.8em;
    cursor: pointer;
    color: #f0f2f5;
    transition: filter linear .3s;
}

tbody .rating__star {
    font-size: 1.8em;
}

    .rating__star:hover {
        filter: drop-shadow(1px 1px 4px #e5e5e5);
    }



.rating__main table td {
    padding: 0.25rem;
}

.fa-angry {
    color: red;
}

.fa-frown {
    color: orange;
}

.fa-meh {
    color: #fff300;
}

.fa-smile {
    color: #42df3c;
}

.fa-smile-beam {
    color: #0075ff;
}

.fa-star {
    color: #ffc200;
}

.bg-gray {
    color: #efefef !important;
}
