<%@ Master Language="VB" AutoEventWireup="false" CodeBehind="site.Master.vb" Inherits="PTECCENTER.site" %>

<%@ Register TagPrefix="CR" Namespace="CrystalDecisions.Web" %>
<%@ Register Assembly="CrystalDecisions.Web, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" Namespace="CrystalDecisions.Web" TagPrefix="CR" %>
<!DOCTYPE html>

<html>
<head runat="server">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- bootstrap-select-->
    <link rel="stylesheet" href="<%=Page.ResolveUrl("~/bootstrap-select-1.13.14/dist/css/bootstrap-select.min.css")%>" rel="stylesheet" type="text/css">

    <!-- Custom fonts for this template-->
    <link href="<%=Page.ResolveUrl("~/vendor/fontawesome-free/css/all.min.css")%>" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template-->
    <link href="<%=Page.ResolveUrl("~/css/sb-admin.css")%>" rel="stylesheet">
    <%--  <link href="../css/sb-admin.css" rel="stylesheet">--%>
    <style>
        * {
            font-family:Arial;
        }
    </style>
    <script type="text/javascript">
        function msgalert(msg) {
            var confirmation = window.confirm(msg);
            return true;
        }
    </script>

    <!-- sweetalert2-->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <title>PTEC Web Center V2</title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body id="page-top">
    <form id="form1" runat="server" enctype="multipart/form-data" novalidate>
        <nav class="navbar navbar-expand navbar-dark bg-dark static-top">
            <div class="col text-left">
                <a class="navbar-brand mr-1" href="<%=Page.ResolveUrl("~/default.aspx")%>">PTEC Web Center V2 <i class="fas fa-home"></i></a>
            </div>

            <!-- Navbar -->
            <div class="col">
                <ul class="navbar-nav ml-auto ml-md-0  justify-content-end">
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-user-circle fa-fw"></i><% =Session("username") %>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="<%=Page.ResolveUrl("~/ADMIN/changepassword.aspx")%>">Change Password</a>
                            <a class="dropdown-item" href="#">Users Info</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>


        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
        </asp:ContentPlaceHolder>

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        <!-- Logout Modal-->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <asp:Button ID="btnLogout" class="btn btn-primary" runat="server" Text="Logout" />
                        <%--<a class="btn btn-primary" href="login.html">Logout</a>--%>
                    </div>
                </div>
            </div>
        </div>
        <!-- Logout Modal-->
    </form>
</body>


<!-- Bootstrap core JavaScript-->

<script src="<%=Page.ResolveUrl("~/vendor/jquery/jquery.min.js")%>"></script>
<script src="<%=Page.ResolveUrl("~/vendor/bootstrap/js/bootstrap.bundle.min.js")%>"></script>
<script src="<%=Page.ResolveUrl("~/js/ops.js")%>"></script>


<script src="<%=Page.ResolveUrl("~/bootstrap-select-1.13.14/dist/js/bootstrap-select.min.js")%>"></script>
<script src="<%=Page.ResolveUrl("~/fileupload/dist/jquery.fileuploader.min.js")%>"></script>

<!-- Page level plugin JavaScript-->
<script type="text/javascript">

    function validateData() {
        var form = $("#form1")[0];
        if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
        }
        form.classList.add('was-validated');
    }
</script>
<script type="text/javascript">
    function alertSuccess() {
        Swal.fire(
            'สำเร็จ',
            '',
            'success'
        )
    }

    function alertWarning(massage) {
        Swal.fire(
            massage,
            '',
            'warning'
        )
    }
    function alertSuccessToast(massage) {

        const Toast = Swal.mixin({
            toast: true,
            position: 'top-end',
            showConfirmButton: false,
            timer: 1000,
            timerProgressBar: true,
            didOpen: (toast) => {
                toast.addEventListener('mouseenter', Swal.stopTimer)
                toast.addEventListener('mouseleave', Swal.resumeTimer)
            }
        })

        Toast.fire({
            icon: 'success',
            title: massage
        })
    }
</script>


</html>
