<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PTECCENTER.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="CrystalImageCleaner-AutoStart" value="true"/>
    <add key="CrystalImageCleaner-Sleep" value="60000"/>
    <add key="CrystalImageCleaner-Age" value="120000"/>
    <add key="cnn_timeout" value="10000"/>
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;"/>
    <add key="PoPath" value="\\ptecdba\essoedi_pdf\production\PO\"/>
    <add key="OrderPath" value="\\ptecdba\essoedi_pdf\production\OrderAck\"/>
    <add key="ConfirmPath" value="\\ptecdba\essoedi_pdf\production\LoadConfirm\"/>
    <add key="ShipPath" value="\\ptecdba\essoedi_pdf\production\Shipment\"/>
    <add key="InvoiceOilPath" value="\\ptecdba\essoedi_pdf\production\Invoice\Oil\"/>
    <add key="InvoiceNonOilPath" value="\\ptecdba\essoedi_pdf\production\Invoice\NonOil\"/>
    <add key="CnOilPath" value="\\ptecdba\essoedi_pdf\production\Invoice\Oil\CN\"/>
    <add key="CnNonOilPath" value="\\ptecdba\essoedi_pdf\production\Invoice\nonOil\CN\"/>
    <add key="DnOilPath" value="\\ptecdba\essoedi_pdf\production\Invoice\Oil\DN\"/>
    <add key="DnNonOilPath" value="\\ptecdba\essoedi_pdf\production\Invoice\NonOil\DN\"/>
    <add key="ptecimages" value="d:\ptecimages"/>
    <add key="SSRS" value="http://ptecdba:8081/ReportServer"/>
    <add key="rvUser" value="axadmin"/>
    <add key="rvPassword" value="@x30@dm1n"/>
    <add key="rvDomain" value="ptec"/>
  </appSettings>
  <connectionStrings>
    <add name="cnnstr_edi" connectionString="Data Source= ptecdba; Initial Catalog= ptec_edi; uid=ptec; Password=ptec@pure; " providerName="System.Data.SqlClient"/>
    <add name="cnnstr_usersright" connectionString="Data Source= PTECDBA; Initial Catalog= ptec_usersright; uid=ptec; Password=ptec@pure; " providerName="System.Data.SqlClient"/>
    <add name="cnnstr_ops" connectionString="Data Source= PTECDBA; Initial Catalog= test_ops; uid=ptec; Password=ptec@pure; " providerName="System.Data.SqlClient"/>
    <add name="cnnstr_budget" connectionString="Data Source= PTECDBA; Initial Catalog= ptec_budgets; uid=ptec; Password=ptec@pure; " providerName="System.Data.SqlClient"/>
    <add name="cnnstr_mng" connectionString="Data Source= ptecdba; Initial Catalog= ptecmng; uid=ptec; Password=ptec@pure; " providerName="System.Data.SqlClient"/>
    <add name="cnnstr_HQ" connectionString="Data Source= ptechq; Initial Catalog= ptecho; uid=ptec; Password=ptec@pure; " providerName="System.Data.SqlClient"/>
    <add name="cnnstr_human" connectionString="Data Source= human; Initial Catalog= rpc_headoffice; uid=ptec; Password=ptec@pure; " providerName="System.Data.SqlClient"/>
    <add name="cnnstr_datacenter" connectionString="Data Source= PTECDBA; Initial Catalog= ptec_datacenter; uid=ptec; Password=ptec@pure; " providerName="System.Data.SqlClient"/>
    <add name="cnnstr_GSM" connectionString="Data Source= ANDAMAN\PTECDBA; Initial Catalog= ptec_gsm; uid=ptec; Password=ptec@pure; " providerName="System.Data.SqlClient"/>
    <add name="cnnstr_contract" connectionString="Data Source= ANDAMAN\PTECDBA; Initial Catalog= ptec_contract; uid=ptec; Password=ptec@pure; " providerName="System.Data.SqlClient"/>
    <add name="cnnstr_cj" connectionString="Data Source= ANDAMAN\PTECDBA; Initial Catalog= ptec_cj; uid=ptec; Password=ptec@pure; " providerName="System.Data.SqlClient"/>
    <add name="Excel07ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 12.0;HDR={1}'"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <pages controlRenderingCompatibilityVersion="4.0" maintainScrollPositionOnPostBack="true">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </controls>
    </pages>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="en-GB" uiCulture="en-GB"/>
    <sessionState timeout="1000" mode="InProc"/>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.6.1">
      <assemblies>
        <add assembly="CrystalDecisions.Web, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.Shared, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportSource, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </assemblies>
    </compilation>
    <httpHandlers>
      <add path="CrystalImageHandler.aspx" verb="GET" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
    </httpHandlers>
    <httpRuntime maxRequestLength="1048576"/>
    <customErrors mode="Off"/>
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ChartImageHandler"/>
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode"/>
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
    <validation validateIntegratedModeConfiguration="false"/>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824"/>
      </requestFiltering>
    </security>
  </system.webServer>
  <applicationSettings>
    <PTECCENTER.My.MySettings>
      <setting name="fullurl" serializeAs="String">
        <value>http://vpnptec.dyndns.org:10280/OPS_ขออนุมัติ/</value>
      </setting>
    </PTECCENTER.My.MySettings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>